{% extends 'index.html' %}
{% load static %}
{% load content_filters %}
{% block page_content %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" id="my-exercises-div">
        {% if request.user.pk %}
            <img src="{{ request.user.profile_picture }}" class="card-img-top" id="my-exercises-img">
            <h1 id="my-exercises-header"><a href="{% url 'my exercises list' %}">My Exercises</a></h1>
        {% else %}
            <img src="https://i.pinimg.com/originals/c4/b7/3d/c4b73d3e1419c82d0976b48af1a29ab0.png" class="card-img-top" id="my-exercises-img">
            <h1 id="my-exercises-header"><a href="{% url 'my exercises list' %}">Log in to add exercises</a></h1>
        {% endif %}
      </div>
        {% for exercise in exercises %}
          <div class="col">
            <div class="card h-100">
               <h2 class="card-title" style="text-align: left; border-bottom: 1px solid grey">
                   {{ exercise.name|capitalize_each_word }}
               </h2>
              <img src="{{ exercise.exercise_photo }}" class="card-img-top" alt="..." >
              <div class="card-body">

                <h5 class="card-text" style="text-align: left">
                    Type: {{ exercise.type }}
                </h5>
              </div>

                <div style="display:flex; flex-direction: row; justify-content: center">
                    {% for point in exercise|get_exercise_rating|times %}
                        {% include 'partials/rating/list-view-star.html' %}
                    {% endfor %}
                </div>

              <button class="btn btn-outline-light gym-details-btn">
                  <a href="{% url 'exercise details' slug=exercise.slug %}">
                      Details
                  </a>
              </button>
{#                <div class="" style="display:flex;justify-content: center">#}
                    {% include 'partials/content/add-exericse-to-favourites.html' %}
{#                </div>#}
              <div class="card-footer">
                <small class="text-muted">Body parts:
                    {% for part in exercise.body_parts %}
                        <a href="{% url 'exercises filter' bodypart=part %}">{{ part }} |</a>
                    {% endfor %}</small>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% if 'filter' in request.path %}
    <div style="padding-bottom:80px;">
        <a href="{% url 'exercises list' %}" >Back to all exercises</a>
    </div>
{% endif %}
{% include 'partials/custom_paginator.html' %}
</div>
{% endblock %}
