{% extends 'index.html' %}
{% load static %}
{% load content_filters %}
{% block page_content %}
<h3>{{ custom_exercise.name|capitalize_each_word }}</h3>
<img src="{{ custom_exercise.exercise_photo }}" alt="" height="100" width="100">
<ul>
    {% for part in custom_exercise.body_parts %}
        <li>{{ part }}</li>
    {% endfor %}
</ul>
<h4>{{ custom_exercise.type }}</h4>
<p>{{ custom_exercise.description }}</p>

    <div><a href="{% url 'exercises list' %}">Back to all exercises</a></div>
{% endblock %}