{% extends 'base.html' %}
{% load static %}
{% load content_filters %}
{% block page_content %}
<div class="container">
<h1>My Exercises / <a href="{% url 'exercises list' %}" style="font-size:22px">Back to all Exercises</a></h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <h1><a href="{% url 'exercise create' %}">Create a new exercise</a></h1>
      </div>
        {% for exercise in custom_exercises %}
          <div class="col">
            <div class="card h-100">
              <img src="{{ exercise.exercise_photo }}" class="card-img-top" alt="..." >
              <div class="card-body">
                <h5 class="card-title">{{ exercise.name|capitalize_each_word }}</h5>
                <p class="card-text">
                    Type: {{ exercise.type }}
                </p>
              </div>
              <button><a href="{% url 'custom exercise details' slug=exercise.slug %}">Details</a>
                  {% if request.user.pk == exercise.owner.pk %}
                  <a href="{% url 'custom exercise update' slug=exercise.slug %}"> / Edit</a>
                  {% endif %}
              </button>
              <div class="card-footer">
                <small class="text-muted">Body parts:
                    {% for part in exercise.body_parts %}
                        <a href="{% url 'exercises filter' bodypart=part %}">{{ part }} |</a>
                    {% endfor %}</small>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% if 'filter' in request.path %}
    <div>
        <a href="{% url 'exercises list' %}">Back to all exercises</a>
    </div>
{% endif %}
{% include 'partials/custom_paginator.html' %}
</div>
{% endblock %}