{% if form.instance.description %}
    <button class="btn" id="goal-description-btn" type="button"
    data-bs-toggle="modal" data-bs-target="#goal{{ form.instance.pk }}Modal">
        <i class="fa-solid fa-circle-info"></i>
    </button>
{% endif %}

<div class="modal fade" id="goal{{ form.instance.pk }}Modal" tabindex="-1" aria-labelledby="goal{{ form.instance.pk }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="goal{{ form.instance.pk }}Label">{{ form.instance.goal_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ form.instance.description }}
      </div>
      <div class="workout-modal-btns">
        <button type="button" class="btn btn-outline-light" style="color:black" data-bs-dismiss="modal"><a>Close</a></button>
      </div>
    </div>
  </div>
</div>