{% extends 'index.html' %}
{% load content_filters %}
{% load static %}

{% block page_content %}

<div class="container gyms-list-container">
    {% for gym in gyms %}
        <div class="col-5">
                <div class="card mt-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4 gym-logo-container">
                      <img src="{{ gym.logo }}" class="img-fluid rounded-start" alt="...">
                        <div style="display:flex; flex-direction: row; justify-content: center">
                            {% for point in gym|get_gym_rating|times %}
                                {% include 'partials/rating/list-view-star.html' %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h4 class="card-title " style="text-align: left; border-bottom: 1px solid grey">{{ gym.gym_name }}
                        {% if request.user.location and request.user.location == gym.location %}
                            <span class="badge text-bg-success city-filter" ><a href="{% url 'gyms filter' request.user.location_id %}">In your city</a></span>
                        {% endif %}
                        {% if gym|open_now %}
                            <span class="badge text-bg-info city-filter" >Open now</span>

                        {% endif %}
                        </h4>

                        <p class="card-text"><small class="text-muted">Location: </small>{{ gym.location }}</p>
                        <p class="card-text"><small class="text-muted">Open: </small>{{ gym.get_working_hours }}</p>
                          <p><small class="text-muted">Sport available: </small>{% for sport in gym.sports_available.all %} {{ sport.sport_name }} |{% endfor %}</p>
                          <div class="workout-modal-btns" style="justify-content: start">
                              <button class="btn btn-outline-light gym-details-btn">
                                  <a href="{% url 'gym details' slug=gym.slug %}">
                                      See more
                                  </a>
                              </button>
                          </div>
                          </div>
                    </div>
                  </div>
                </div>
        </div>
    {% endfor %}


    <div>
        <a href="{% url 'gyms list' %}">Back to all gyms</a>
    </div>

{% include 'partials/custom_paginator.html' %}
</div>
{% endblock %}