ul.nav-list{
    margin:0;
}
.nav-list li{
    display:inline;
}

.main-nav {
    font-family: 'Bebas Neue', cursive;
    background-color: steelblue;
    height: 70px;
    color:white;
    font-size: 24px;
    text-decoration: none;
    display:flex;
    justify-content: right;
    align-items: center;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.21),
    0 5px 15px 0 rgba(0,0,0,0.08);
}

.nav-bar{
    justify-content: space-between;
    padding:0;
 }

.nav-logo {
    margin-left:15px;
}
.main-nav a {
    padding-right: 30px;
    text-decoration: none;
    color:white;
    font-size: 24px;
}

.main-nav a:hover {
    color:lightgoldenrodyellow;
}