{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<div class="container">
    <h1 class="form-page-header">Complete your profile</h1>
    <div class="complete-profile-container form-container">
        <div class="trainee-complete-profile form-inner">
            <form action="{% url 'trainee complete profile' %}" method="post">
                {% include 'partials/field-errors-alert.html' %}
                {{ form.as_p }}
                <div class="workout-modal-btns">
                    <button class="btn btn-outline-light" style="color:black" type="submit"><a>Create Profile</a></button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}