{% extends 'index.html' %}
{% load static %}

{% block page_content %}
<div class="container">
    <h1 class="form-page-header">@{{ request.user }}</h1>
    <div class="form-container">
        <div class="trainee-update-profile-form form-inner">
            <form action="{% url 'trainee update profile' slug=request.user.traineeprofile.slug %}" method="post">
                {% include 'partials/field-errors-alert.html' %}
                <label for="">Height (cm): </label><p>{{ form.height }}</p>
                <label for="">Weight (kg): </label><p>{{ form.weight }}</p>
                <label for="">Experience level: </label><p>{{ form.experience }}</p>
                <label for="">Goals: </label><p>{{ form.goals }}</p>
                <div class="workout-modal-btns">
                    <button class="btn btn-outline-light" style="color:black"><a>Update Profile</a></button>
                    <button class="btn btn-outline-light"><a href="{% url 'trainee profile details' slug=request.user.traineeprofile.slug %}">Back to my profile</a></button>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </div>
</div>
{% endblock %}