<div>
    <h1>stats</h1>

    Placeholders for now
    <h3>2022</h3>
    <p>Goals achieved: 2/5 (%)</p>
    <p>Total Workouts: 186 (based on date added)</p>
    <p>Kilograms lifted: 124k (sum of all exercise instances - maybe be workouts should have a method for summing it)</p>
    <p>Distance covered: 240km (-||-)</p>
    <p>Cardio time: 60h (-||-)</p>
    <p>Favourite exercise: Cycling (based on how often it appears in the workouts)</p>
    <p>Favourite type of exercise: Bodyweight (-||-)</p>


    <h3>Pick a different year: (Calendar or select field)</h3>
</div>