form {
    margin:0;
    padding:30px;
    border: black 3px solid;
}
.form-container{
    max-width: 900px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}


form input, form label{
    display:block;
}

.form-page-header{
    text-align: center;
    padding-top:10px;
}

.form-inner {
    display:flex;
    flex-direction: column;
}
form label{
    font-size: 21px;
}
.form-inner div{
    display:inline-block;
    padding-left:30px;
    padding-right:30px;
}

.article-form-container {
    width:1300px;
}