.profile-dashboard{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:800px;
}

.dashboard-content {
    display:flex;
    flex-direction: column;
    height:80vh;
    width:800px;
    /*justify-content: space-between;*/
}

#prime-deactivate {
    text-decoration: none;
    color:red;
    font-size:14px;
}
#prime-deactivate:hover {
    color:darkred;
}

.dashboard-nav-menu {
    display:flex;
    flex-direction:column;
    background-color: steelblue;
    height:80vh;
    min-width:230px;
    justify-content: center;
}

.dashboard-nav-menu a:hover {
    color:lightgoldenrodyellow;
}
.dashboard-nav-menu a {
    font-size: 24px;
    text-decoration: none;
    text-align:center;
    color: white;
    margin-top:15px;
    margin-bottom:15px;
}