{% extends 'index.html' %}
{% load static %}

{% block page_content %}
    <div class="container">
<h1 class="form-page-header">@{{ request.user }}</h1>
    <div class="update-trainer-profile-container form-container">
        <form action="" method="post">
            <p>Training field: {{ form.training_field }}</p>
            <p>Years of experience: {{ form.years_experience }}</p>
            <p>Biography: {{ form.bio }}</p>
            <p>Phone number: {{ form.phone_number }}</p>
            <button>Update Profile</button>
            <button><a href="{% url 'trainer profile details' request.user.trainerprofile.pk %}">Back to my profile</a></button>
            {% csrf_token %}
        </form>
    </div></div>
{% endblock %}