.featured-articles{
    width:50%;
    height:400px
}

.regular-article{
    display:inline-block;
    padding-bottom: 20px;
    padding-left: 30px;

}

.regular-article a{
    text-decoration: none;
}

.article-list-thumbnail {
    max-width: 400px;
    max-height: 200px;
}

.article-heading a{
    color:black
}

.my-articles-listing {
    border-bottom: 0.4px grey solid;
}

.my-articles-listing a {
    color: black;
    text-decoration: none;
}
.my-articles-listing a:hover {
    color: black;
}