.trainer-details-page-container h1 {
    padding-top:6px;
    padding-bottom:6px;
    border-bottom: 0.2px solid grey;
}

.trainer-details-container {
    display: flex;
    flex-direction: row;
}

.trainer-details-container div {
}

.trainer-details-avatar img {
    max-height: 400px;
}
.trainer-details-avatar {
    text-align: center;
}

.trainer-details .trainer-profile {
    border-bottom: 0.2px solid grey;
}