{% extends 'index.html' %}
{% load static %}

{% block page_content %}
    {{ user_faves }}
<div class="container trainer-details-page-container">
    <h1>{{ trainer.profile.full_name }}
        {% if trainer.prime_membership %}
            <i class="fa-solid fa-award" style="color:green"></i>
        {% endif %} / <a href="{% url 'trainers list' %}" style="font-size:22px">Back to all trainers</a>
    </h1>
    <div class="trainer-details-container">
        <div class="trainer-details-avatar">
            <img src="{{ trainer.profile.profile_picture }}" alt="">
            <h2>{{ trainer.training_field|capfirst }}</h2>
            <div class="trainer-hire-btn">
                <button class="btn btn-outline-light">
                    <a style="color:black" href="{% url 'hire coach' coach_pk=trainer.profile.pk %}">
                        {% if not have_active_contract %}
                            Hire
                        {% else %}
                            Cancel Contract
                        {% endif %}
                    </a>
                </button>
            </div>
        </div>
        <div class="trainer-info">
            <div class="trainer-details">
                <div class="trainer-name">

                </div>
                <div class="trainer-profile">
                    <h3><small class="text-muted">Location: </small> {{ trainer.profile.location }}</h3>
                    <h3><small class="text-muted">Age: </small>{{ trainer.profile.age }}</h3>
                    <h3><small class="text-muted">Specialized in </small>
                        {% for sport in trainer.sports.all %}
                            {{ sport }} |
                        {% endfor %}
                    </h3>
                    <h3><small class="text-muted">Years of professional experience: </small> {{ trainer.years_experience }}</h3>
                    <h5><i class="fa-solid fa-square-phone"></i> +359-{{ trainer.phone_number }}</h5>
                    <button class="btn btn-outline-light" style="background-color:lightgreen">
                        <a  style="color:black; font-size:20px">
                            <i class="fa-regular fa-calendar-days"></i>
                            Book a meeting
                        </a>
                    </button>


                </div>
                <div class="trainer-bio">
                    <h3><small class="text-muted">Biography: </small></h3>
                    <p>{{ trainer.bio }}</p>
                    {% lorem 2 p %}
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}

