<div class="my-articles">
    {% if trainer_articles %}
        {% for article in trainer_articles %}
            <div class="my-articles-listing">
                <p>
                    <h3>{{ article.heading }}</h3>
                    <a href="{% url 'article edit' slug=article.slug %}" style="color:green">Edit</a>
                    <a href="{% url 'article delete' slug=article.slug %}" style="color:red">Delete</a>
                </p>
            </div>
        {% endfor %}
    {% else %}
        {% if is_partner %}
            You haven't published any articles yet.
            Submit your article here:
            <a href="{% url 'article create' %}"></a>
        {% else %}
            You need a partner membership in order to publish articles.
            <p>
                <a href="{% url 'manage prime' slug=request.user.trainerprofile.slug %}">Upgrade to Partner Membership from here</a>
            </p>
        {% endif %}
    {% endif %}
</div>