<h2>My Trainees</h2>
<div class="my-trainees">
    {% if active_trainees %}
        {% for trainee, goals in trainee_goals.items %}
            <div class="card border-light mb-3" style="width: 32rem; height:13rem">
              <div class="card-header">
                  {{ trainee.full_name }}
              </div>
              <div class="card-body container">
                  <div class="row">
                    <div class="col-5">
                        <img src="{{ trainee.profile_picture }}" style="max-height: 130px; max-width: 130px" alt="">
                        <p>
                        <i class="fa-regular fa-envelope"></i> message {{ trainee.first_name }}
                    </p>
                    </div>
                    <div class="col-7">
                        <h5 class="card-title">{{ trainee.first_name }}'s goals</h5>
                        <ul>
                            {% for goal in goals %}
                                <li>{{ goal }}
                                    {% if goal.is_accomplished %}
                                    {% else %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    <button class="btn btn-outline-light gym-details-btn">
                        <a href="{% url 'trainee details view for trainers' slug=trainee.traineeprofile.slug %}">
                            Full profile
                        </a>
                    </button>
                    </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>You don't have any active contracts</h2>
    {% endif %}
</div>

