.workout-modal-btns {
    display: flex;
    justify-content: space-evenly;
    border-top: 0.2px solid lightgrey;
}
.workout-modal-btns a,
.trainer-hire-btn a,
.gym-details-btn a,
.favourite-exercise-add a{
    font-size: 24px;
    text-decoration: none;
    color:black;
    padding-left: 35px;
    padding-right: 35px;
}

.workout-modal-btns a:hover,
.gym-details-btn a:hover{
    color:black;
}

.card-footer button:hover {
    /*font-weight: bold;*/
    color:steelblue;
}
.workout-modal-btns button:hover,
.trainers-list button:hover,
.trainer-hire-btn button:hover,
.gym-details-btn button:hover{
    background-color: steelblue;
}

/*.favourite-exercise-add button:hover{*/
/*    background-color: powderblue;*/
/*}*/

.trainers-list button a,
.trainer-hire-btn a,
.gym-details-btn a{
    font-size:24px;
    text-decoration: none;
    color:black;
}
.trainers-list button,
.trainer-hire-btn button,
.gym-details-btn{
    border: 0.2px solid lightgrey;
}

.sign-up-dropdown-link:hover{
    background-color: lightgrey;
}
