{% extends 'index.html' %}
{% load static %}

{% block page_content %}
    <div class="container">
        <h1 class="form-page-header">Start a new workout</h1>
            <div class="form-container">
                <div class="workout-form">
                    <form action="{% url 'workout create' %}" method="post">
                    {#    {{ form.as_p }}#}
                        <label for="">Workout name: </label><p>{{ form.name }}</p>
                        <label for="">Exercises: </label><p>{{ form.exercises }}</p>
                        <label for="">Duration (minutes):</label><p>{{ form.duration }}</p>
                        <button>Finish Workout</button>
                        {% csrf_token %}
                    </form>
            </div>
        </div>
    </div>
{% endblock %}