{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="container">
        <h1 class="form-page-header">Edit your workout</h1>
        <div class="form-container">
            <div class="workout-form">
                <form action="{% url 'workout update' pk=workout.pk %}" method="post">
                    {% include 'partials/field-errors-alert.html' %}
                    <label for="">Workout name: </label><p>{{ form.name }}</p>
                        <label for="">Exercises: </label><p>{{ form.exercises }}</p>
                        <label for="">Duration (minutes):</label><p>{{ form.duration }}</p>

                    <div class="workout-modal-btns">
                         <button class="btn btn-outline-light" style="color:black"><a>Update Workout</a></button>
                         <button class="btn btn-outline-light"><a href="{% url 'workouts list' %}">Back to my workouts</a></button>
                    </div>
                {% csrf_token %}
                </form>
            </div>
        </div>

    </div>
{% endblock %}